*.swp
*.pyc

archive01

djangotailoring/
surveytracking/
tailoring2/

myauth/
myselector/
mycoach/
mytailoring/
mypublisher/
myloader/
myexporter/
myemailer/
mypump/
myusage/
mylogger/
nts/
mytournament/

mydata4/
mydata6/
mydata7/
mydata8/
mydata9/
mydata14/
mydata16/
mydata17/
mydata18/
mydata19/

staticroot/

transfer/

