*.swp
*.pyc

archive01

djangotailoring/
surveytracking/
tailoring2/
mts/

myauth/
myselector/
mycoach/
mytailoring/
mypublisher/
myloader/
myexporter/
myemailer/
mypump/
myusage/
mylogger/
nts/
mytournament13/
mytournament15/

mydata4/
mydata6/
mydata7/
mydata8/
mydata9/
mydata12/
mydata13/
mydata14/
mydata16/
mydata17/
mydata18/
mydata19/

staticroot/

transfer/

