*.swp
*.pyc

mts0/
mts1/
mts2/
mts3/
mts4/
mts5/

mycoach0/
mycoach1/
mycoach2/
mycoach3/
mycoach4/
mycoach5/

mydata0/
mydata1/
mydata2/
mydata3/
mydata4/
mydata5/

myselector/
mypump/
myemailer/

settings.py

staticroot/

mysql/out.txt
mysql/run.sql

djangotailoring/

surveytracking/

tailoring2/

