{% load settings_to_template %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"> 

    <!-- Alternate "zoomed out" mode for mobile -->
    <!-- <meta name="viewport" content="width=700"> -->

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">  

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />  
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css?{% now "U" %}" media="all" />  

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Merriweather:400,700" rel="stylesheet" type="text/css">
    
    <title>{% block title %}{% endblock %}E2Coach</title>

    <script type"text/JavaScript" src="{{ STATIC_URL }}js/jquery-1.10.1.min.js?{% now "U" %}"></script>

    {% block header_files %}

    {% endblock %}

    {% comment %}
    {% for key,value in args.items %}
        {{key}} :<b> {{ value }}</b>
        <br>
    {% endfor %}
    {% endcomment %}

    <script type="text/javascript">
        {% include "paths.js.html" %}

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // TODO: cookie domain should be false and a different UA code should be used when deployed to production. is there an easy way in django to expose to a view which environment the application is deployed to?
      ga('create', 'UA-37331371-3', {
        'cookieDomain': 'none' 
      });

      ga('send', 'pageview');

      var ecoach = {};

      jQuery(document).ready(function($) {    
        ecoach.navigation.initResponsiveNavs();
        ecoach.navigation.initNavBehaviors();
      });

      !function ($) {
        ecoach.navigation = {
          initResponsiveNavs: function() { 
            $(window).on("resize load", function () {
              if ($(window).width() < 768) {
                $(".side-list-items").addClass("collapse");
                $("#side-col li.nav-header").show();
                $("#side-col h3").hide();
              } else {
                $(".side-list-items").removeClass("collapse");
                $("#side-col h3").show();
              }

              if ($(window).width() <= 979) {
                $(".nav-dropdown ul").addClass("dropdown-menu");
              } else {
                $(".nav-dropdown ul").removeClass("dropdown-menu");
              }
            });
          },
          initNavBehaviors: function() {
              $(".nav-header").click(function() {
                $(".icon-chevron-up, .icon-chevron-down", this).toggle();
              });  

              $(".dropdown-menu a").click(function(event){
                event.stopPropagation();
              });
          }
        };

        ecoach.util = {
          // handles pushing log events both to our internal logging api and google analytics
            logEvent: function(eventCategory, eventAction, eventLabel) {                
                var href = "{% url 'mylogger:what_log' %}";
                $.ajax({
                    type: "GET", //TODO: change this to POST once you have a working endpoint
                    url: href,
                    data: { 
                        logEvent: eventCategory, //need to define this format and reconcile GA's separation of category/action/label with our internal tracking model and JSON string used in the NTS example
                    }
                });


                //GA doesn't send the hash by default, but we'd like these because it will capture which tab the event occurred on
                var locationWithHash = window.location.pathname +
                    window.location.search +
                    window.location.hash;

                //NOTE: per GA terms of service, PII (personally identifiable information) such as a username cannot be sent to GA 
                if (eventLabel != null) {
                    ga('send', 'event', eventCategory, eventAction, eventLabel, {page: locationWithHash}); 
                    
                } else {
                    ga('send', 'event', eventCategory, eventAction, {page: locationWithHash});
                }
            }
        };


      }(window.jQuery);

            

    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

      {% block head_extra %}
      {% endblock %}

  </head>

  <body class="blue-theme {% block secondary_menu_class %}{% endblock %}">
      <div id="wrap">
      <div id="main">
      <div class="masthead">   
          <div class="container clearfix">
            <div class="wrapper">
            <a href="/">
              <div class="logo">
              </div>
            </a>
            {% block course_name %}
                <span class="course-name">
                    {% settings_value "COACH_NAME" %}
                </span> 
            {% endblock %}

            <!-- First Menu  -->
            {% block first_menu %}
                  <div class="menu1_options clearfix">


            
               
                    <!-- use responsive nav when on narrower devices -->
                    <div class="nav-dropdown"> 
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-bars" data-toggle="dropdown">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <ul class="dropdown-menu">
                            {% for nn in main_nav %}
                              {% if nn.6|length > 0 %}
                                <li class='menu1_option dropdown sub-dropdown'>
                                    <a href='{{nn.2}}' class="{{nn.1}}" data-toggle="dropdown">
                                      <b class="caret"></b>
                                      {{nn.0}}
                                    </a>     
                                    <ul class="dropdown-menu">
                                      {% for ss in nn.6 %}
                                          <li>
                                            <a href='{{ss.2}}' class="{{ss.1}}">{{ss.0}}</a>
                                          </li>                                    
                                      {% endfor %}
                                    </ul>
                                </li>
                              {% else %}
                                <li class='menu1_option'>
                                    <a href='{{nn.2}}' class="{{nn.1}}">
                                      {{nn.0}}
                                    </a>
                                </li>
                              {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- static nav for standard desktop browser widths -->
                    <div class="nav-static nav-static-wide"> 
                        <ul>
                            {% for nn in main_nav %}
                              {% comment %}{% if nn.6|length > 0 %}{% endcomment %}
                              {% if false %}
                                <li class='menu1_option dropdown'>
                                    <a href='{{nn.2}}' class="{{nn.1}}" data-toggle="dropdown">
                                      {{nn.0}}
                                      <b class="caret"></b>
                                    </a>                         
                                    <ul class="dropdown-menu">
                                    {% for ss in nn.6 %}
                                        <li>
                                          <a href='{{ss.2}}' class="{{ss.1}}">{{ss.0}}</a>
                                        </li>                                    
                                    {% endfor %}
                                    </ul>
                                </li>
                                {% else %}
                                <li class='menu1_option'>
                                    <a href='{{nn.2}}' class="{{nn.1}}">
                                      {{nn.0}}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                       </ul>
                    </div>
                   
            </div>
            {% endblock %}
            <!-- First Menu  -->
           </div>       
         </div>
      </div>
      {% block secondary_menu %}
      {% endblock %}
      <div class="main">
        <div class="container">
          {% block steps_navigation %}
          {% endblock %}
          <div id="main-row" class="row">
            {% block side %}
            {% endblock %}

            {% block content %}
            {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
      <footer class="footer">
        <div class="tagline">
        E<sup>2</sup>Coach is here to help you through your course - using expert advice, advice from your friends, and stats from your class, it tailors to <i>you</i>.
        </div>
        <div class="links">
            <a href="{% url 'myselector:about' %}">About</a><span class="muted">&nbsp&nbsp·&nbsp</span>
            <a href="{% url 'myselector:team' %}">Team</a><span class="muted">&nbsp&nbsp·&nbsp</span>
            <a href="{% url 'myselector:press' %}">Press</a>
        </div>
        <a href="http://www.umich.edu" target="_blank"><img class="img-polaroid" src="{{ STATIC_URL }}img/um-logo.png"/></a>
      </footer>


    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
     

  </body>
</html>
