{% extends 'new_base.html' %}

{% block title %}Staff Pages - {% endblock %}

{% block header_files %}
{% endblock %}

{% block head_extra %}
{% endblock %}

{% block side %}
    <div id="side-col-staff" class="span3">
            <ul class="nav nav-tabs nav-stacked">
            {% for nn in tasks_nav %}
                <li>
                    <a href="{{nn.2}}" class="{{nn.1}}">{{nn.0}}<i class="icon-chevron-right pull-right"></i></a>
                </li>
            {% endfor %}
                <li><a href="#">User Stats<i class="icon-chevron-right pull-right"></i></a></li>
                <li><a href="#">Data Loader<i class="icon-chevron-right pull-right"></i></a></li>
                <li><a href="#">Email Students<i class="icon-chevron-right pull-right"></a></i></li>
            </ul>
    </div>
{% endblock %}

{% block steps_navigation %}
{% endblock %}

{% block content %}
    Please subclass this base staff page template to add content.
{% endblock %}

